.wrap {
	height: 100vd;
}

.header {
	margin: none;
	width: 100%;
	height: 125px;
	position: absolute;
	padding: none;
	z-index: -1000;
}

.topLine {
	width: 100%;
	position: relative;
	height: 5px;
	background: white;
}

.orangeLine {
	width: 100%;
	background: orange;
	position: relative;
	height: 5px;
}